name: Publish Dev Packages

on:
  push:
    branches: [ "dev" ]

permissions:
  contents: read
  packages: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore
        run: dotnet restore --configfile nuget.config

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Pack Biology (dev)
        run: dotnet pack ./BiologyLibrary/BiologyLibrary.csproj -c Release -o ./output -p:PackageId=BiologyLibrary.dev -p:PackageVersion=1.0.0-dev.${{ github.run_number }}

      - name: Pack Chemistry (dev)
        run: dotnet pack ./ChemistryLibrary/ChemistryLibrary.csproj -c Release -o ./output -p:PackageId=ChemistryLibrary.dev -p:PackageVersion=1.0.0-dev.${{ github.run_number }}

      - name: Pack Physics (dev)
        run: dotnet pack ./PhysicsLibrary/PhysicsLibrary.csproj -c Release -o ./output -p:PackageId=PhysicsLibrary.dev -p:PackageVersion=1.0.0-dev.${{ github.run_number }}

      - name: Pack Science (dev)
        run: dotnet pack ./ScienceLibrary/ScienceLibrary.csproj -c Release -o ./output -p:PackageId=ScienceLibrary.dev -p:PackageVersion=1.0.0-dev.${{ github.run_number }}

      - name: Publish packages to GitHub Packages
        run: dotnet nuget push "./output/*.nupkg" -k "${{ secrets.LIB_DEV }}" -s "https://nuget.pkg.github.com/01Prathamesh-dev/index.json" --skip-duplicate

