name: Publish Prod Packages

on:
  push:
    branches: [ "master" ]

permissions:
  contents: read
  packages: write

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: prod

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore --configfile nuget.config

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Pack Biology (prod)
        run: dotnet pack "./BiologyLibrary/BiologyLibrary.csproj" -c Release -o "./output" -p:PackageId=BiologyLibrary.Prod -p:PackageVersion=1.0.0.${{ github.run_number }}

      - name: Pack Chemistry (prod)
        run: dotnet pack "./ChemistryLibrary/ChemistryLibrary.csproj" -c Release -o "./output" -p:PackageId=ChemistryLibrary.Prod -p:PackageVersion=1.0.0.${{ github.run_number }}

      - name: Pack Physics (prod)
        run: dotnet pack "./PhysicsLibrary/PhysicsLibrary.csproj" -c Release -o "./output" -p:PackageId=PhysicsLibrary.Prod -p:PackageVersion=1.0.0.${{ github.run_number }}

      - name: Pack Science (prod)
        run: dotnet pack "./ScienceLibrary/ScienceLibrary.csproj" -c Release -o "./output" --no-restore --no-build -p:PackageId=ScienceLibrary.Prod -p:PackageVersion=1.0.0.${{ github.run_number }}

      - name: Publish to GitHub Packages
        run: dotnet nuget push "./output/*.nupkg" -k "${{ secrets.LIB_PROD }}" -s "https://nuget.pkg.github.com/01Prathamesh-dev/index.json" --skip-duplicate



